.demo-logo-vertical {
  height: 32px;
  margin: 16px;
  background: rgba(255,255,255,.2);
  border-radius: 6px;
  background-image: url(/create-vct.svg);
  background-repeat: no-repeat;
  background-position: center;
}